@model ExamenCodisa.Models.DatosExtraEmp
@{
    ViewData["Title"] = "DetallesExtra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<div class="row mb-2">
    <form method="post" asp-action="DeleteEmpleado">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Información extra</strong>
                    <h3 class="mb-0">@Model.empleado.nombreCompleto</h3>
                    <hr />
                    <div class="mb-1 text-muted">Edad: @Model.edad años</div>
                    <div class="mb-1 text-muted">Antigüedad en la empresa: @Model.antiguedad_empresa años</div>
                    <input type="hidden" asp-for="idEmpleado" />

                </div>
                <div class="col-auto d-none d-lg-block">


                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <img src=@Model.empleado.fotoToStringUrl width="150" height="175">
                    </svg>

                </div>
            </div>
        </div>
        <div class="form-group">

            <input type="submit" value="Eliminar empleado" class="btn btn-danger" />
        </div>
    </form>
</div>